html, body {
  margin: 0px;
  background-color: #2F4F30;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  /* border: 10px solid red; */
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}


.titulo {
  text-align: center;
  background-color: black;
  color: white;
  padding: 20px;
  font-size: 25px;
}

.carta {
  position: relative;
  width: 150px;
  left: 100px;
  margin-left: -75px;
}

#computadora-cartas, #jugador-cartas {
  height: 240px;
}


.container {
  flex: 1; /* Este div ocupará todo el espacio disponible */
}

.footer{
  text-align: center;
  padding: 10px;
  margin-top: auto;

}

